# {{ ansible_managed }}
KAFKA_HEAP_OPTS="-Xms{{ kafka_connect_heap_size }} -Xmx{{ kafka_connect_heap_size }}"
{% if kafka_connect__opts | length > 0 %}
KAFKA_OPTS="{{ kafka_connect__opts }}"
{% endif %}
LOG_DIR="{{ kafka_connect_log_dir }}"
