# Managed by Ansible with axonops-ansible-collection
[Unit]
Description=Cassandra
After=network.target

[Service]
User=cassandra
Group=cassandra
Environment=CASSANDRA_LOG_DIR={{ cassandra_log_dir | default('/var/log/cassandra') }}
{% if cassandra_home_dir is defined %}
ExecStart={{ cassandra_home_dir }}/bin/cassandra -f -p /run/cassandra/cassandra.pid
{% else %}
ExecStart=/usr/sbin/cassandra -f -p /run/cassandra/cassandra.pid
{% endif %}
StandardOutput=journal
StandardError=journal
LimitNOFILE=1000000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
#Restart=always


[Install]
WantedBy=multi-user.target
