# {{ ansible_managed }}
# Bootstrap admin client properties for kafka-topics.sh / kafka-acls.sh /
# kafka-configs.sh. Mirrors the security of the listener on port 9092, which
# is what those commands bootstrap against.
security.protocol={{ kafka__bootstrap_listener.protocol }}

{% if kafka__bootstrap_listener.tls | bool %}
ssl.keystore.type=PEM
ssl.keystore.location={{ kafka__tls_keystore_file }}

ssl.truststore.type=PEM
ssl.truststore.location={{ kafka__tls_truststore_file }}

ssl.endpoint.identification.algorithm=
{% endif %}

{% if kafka__bootstrap_listener.sasl | bool %}
sasl.mechanism={{ kafka_sasl_mechanism }}
sasl.jaas.config={{ kafka__sasl_login_module }} required username="{{ kafka_sasl_inter_broker_user }}" password="{{ kafka_sasl_inter_broker_password }}";
{% endif %}
