---
- name: Converge
  hosts: all
  vars:
    cassandra_cluster_name: default
    cassandra_dc: default
    cassandra_rack: rack1
    cassandra_max_heap_size: 512M
    cassandra_version: 5.0.6
    cassandra_start_on_boot: false
    cassandra_install_format: tar
  pre_tasks:
    # bug in the container we use for testing
    - name: "Create /usr/share/man/man1/"
      ansible.builtin.file:
        path: /usr/share/man/man1/
        state: directory
        recurse: true
        mode: "0755"
  roles:
    - role: java
      vars:
        java_use_zulu: true
        #java_pkg: openjdk-11-jre-headless
    - role: cassandra
