---
- name: "Apply Adaptive Repair on {{ cluster }} in {{ org }}"
  axonops.axonops.adaptive_repair:
    org: "{{ org }}"
    cluster: "{{ cluster }}"
    username: "{{ adaptive_repair.username | default(lookup('env', 'AXONOPS_USERNAME')) | default(omit) }}"
    password: "{{ adaptive_repair.password | default(lookup('env', 'AXONOPS_PASSWORD')) | default(omit) }}"
    active: "{{ adaptive_repair.enabled | default(true) }}"
    auth_token: "{{ adaptive_repair.auth_token | default(lookup('env', 'AXONOPS_TOKEN')) | default(lookup('env', 'AXONOPS_API_TOKEN')) | default(omit) }}"
    excludedtables: "{{ adaptive_repair.excludedtables | default([]) }}"
    filter_twcs: "{{ adaptive_repair.filter_twcs | default(True) }}"
    gc_grace: "{{ adaptive_repair.gc_grace | default(omit) }}"
    maxsegmentspertable: "{{ adaptive_repair.maxsegmentspertable | default(omit) }}"
    segmentretries: "{{ adaptive_repair.segmentretries | default(omit) }}"
    segmenttargetsizemb: "{{ adaptive_repair.segmenttargetsizemb | default(omit) }}"
    segmenttimeout: "{{ adaptive_repair.segmenttimeout | default(omit) }}"
    tableparallelism: "{{ adaptive_repair.tableparallelism | default(omit) }}"
  tags:
  - axonops_adaptive_repair
  - adaptive_repair
  - repair

# code: language=ansible
