- name: Import OS vars
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"

- name: Install Zulu JDK on RedHat
  when:
    - _zulu_jdk is defined
    - java_use_zulu | default(false) or (ansible_os_family == 'RedHat' and ansible_distribution_major_version is version('10', '>='))  # Use Zulu JDK for RHEL 10 and above
    - ansible_os_family == 'RedHat'
  block:
    - name: Add Zulu JDK repository
      ansible.builtin.package:
        name: "{{ _zulu_jdk.yum_repo }}"
        state: present
        disable_gpg_check: true
        disablerepo:
          - "*"  # Disable all other repositories to avoid conflicts

    - name: Install Zulu JDK
      ansible.builtin.package:
        state: "present"
        name: "{{ _zulu_jdk.package_names }}"
        disable_gpg_check: true

    - name: Set as installed
      ansible.builtin.set_fact:
        java_zulu_installed: true

- name: Debian Zulu Java Install
  when:
    - _zulu_jdk is defined
    - java_use_zulu | default(false)
    - ansible_os_family == 'Debian'
  block:
    - name: "Debian - Install apt packages"
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - gnupg
          - curl
          - wget
        state: present
        update_cache: true

    - name: Ensure keyrings directory exists
      ansible.builtin.file:
        path: /usr/share/keyrings
        state: directory
        mode: '0755'

    - name: Download Azul repository key
      ansible.builtin.get_url:
        url: "{{ _zulu_jdk.apt_repo.key_url }}"
        dest: /tmp/azul-repo.key
        mode: '0644'

    - name: Dearmor and save the key
      ansible.builtin.shell:
        cmd: gpg --dearmor < /tmp/azul-repo.key > /usr/share/keyrings/azul.gpg
        creates: /usr/share/keyrings/azul.gpg

    - name: Add Zulu repository with signed-by
      ansible.builtin.apt_repository:
        repo: "deb [signed-by=/usr/share/keyrings/azul.gpg] https://repos.azul.com/zulu/deb stable main"
        state: present
        filename: zulu

    - name: Install Zulu JDK
      ansible.builtin.package:
        state: "{% if zulu_version is defined and zulu_version != '' %}present{% else %}latest{% endif %}"
        name: "{{ _zulu_jdk.package_names }}"

    - name: Set as installed
      ansible.builtin.set_fact:
        java_zulu_installed: true

- name: Run apt-update
  when: ansible_os_family == 'Debian'
  ansible.builtin.apt:
    update_cache: true

- name: Install Java
  ansible.builtin.package:
    name: "{{ java_pkg | default(_java_pkg) }}"
    state: present
  when: java_zulu_installed is not defined or not java_zulu_installed

- name: Select Zulu Java as default
  community.general.alternatives:
    name: java
    path: "/usr/lib/jvm/zulu{{ _zulu_major_version }}/bin/java"
    link: /usr/bin/java
  when: java_zulu_installed is defined and java_zulu_installed

# code: language=ansible
