---
axon_agent_start_at_boot: true

axon_agent_server_host: agents.axonops.cloud
axon_agent_server_port: "{% if axon_agent_server_host == 'agents.axonops.cloud' %}443{% else %}1888{% endif %}"

# Possible Options: axon-cassandra3.11-agent, axon-dse6.0-agent, axon-dse6.7-agent, axon-dse5.1-agent or ""
axon_java_agent: "axon-cassandra5.0-agent-jdk17"
axon_agent_version: "2.0.2"
axon_java_agent_version: "1.0.10"

# This is should be left undefined unless you are using a custom AxonOps server.
#axon_agent_tls_mode: "disabled"

axon_agent_state: present
#axon_agent_ntp_server: "{{ ntp_prefered_server | default('pool.ntp.org') }}"
axon_java_agent_force_offline_install: false

has_internet_access: true
axon_agent_upper_lower_case_dse_template_var: DSE

# Set this true to include the "dse" or "cassandra" section in axon-agent.yml. This is not normally required in recent versions.
axon_agent_include_service_config: false

axon_agent_install: true
axon_agent_configure: true

# repository
axon_agent_public_repository: present
axon_agent_beta_repository: absent
axon_agent_dev_repository: absent

axon_agent_sudoers: |
  # Ansible Managed
  axonops ALL=NOPASSWD: /bin/systemctl start cassandra,/bin/systemctl restart cassandra,/bin/systemctl stop cassandra,/bin/systemctl status cassandra

# Enable these options to let the Axon-Agent role modify the Apache Cassandra config
# You will need to configure the path for where there cassandra-env.sh config file is as well as the
# configuration line to be added. Please bear in mind this is different for some of the Apache Cassandra versions.
# Check https://axonops.com/docs/get_started/agent_setup/ to confirm your correct line

# axon_agent_cassandra_config_directory: /opt/cassandra/conf
# This is usually be versions < 5
# axon_agent_cassandra_config: 'JVM_OPTS="$JVM_OPTS -javaagent:/usr/share/axonops/axon-cassandra4.0-agent.jar=/etc/axonops/axon-agent.yml"'
# This config is more common for Apache Cassandra >= 5
# axon_agent_cassandra_config: '. /usr/share/axonops/axonops-jvm.options'
